extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-1
                h1.display-4.m-b-2 Welcome to Stand Up!
                p StandUp shows you the time, weather, and the most relevant emails in your inbox.
                a(href="/login", class="btn btn-primary") Login
                a(href="/register", class = "btn btn-info") Register
                

